.second {
    background-image: -webkit-linear-gradient(225deg, #a8c4ff , rgb(250, 255, 202))
}

.second .title {
    font-size: 3em;
    font-weight: 300
}

.second .content {
    font-size: 1.5em;
    font-weight: 400;
}

.second .page-body{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
